@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


@font-face {
  font-family: 'Bree';
  src: url('fonts/BreeSerif-Regular.ttf') format('truetype'); /* Adjust the file path if necessary */
  /* Add additional font weights and styles if available */
}

/*universal components */
@layer base {
  button {
    @apply border border-black rounded-xl px-5 py-2;
  }
  body {
    @apply bg-red-600;
    font-family: 'Bree Serif', sans-serif;
     color: white;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
